/**模块主体**/
.cloud-container{width:100%;background:#f0f2f5;height: auto;float:left;min-width:1170px;padding-bottom:40px;}
.cloud-wrapper{width:1170px;margin:0 auto;}
/**左侧菜单**/
.left-subnav{width:230px;height:auto;float:left;background:#fff;padding:18px 0;display: inline-block;}
.left-title{width:230px;float:left;padding-left:20px;border-bottom: 1px solid #d4d9e3;padding-bottom: 14px;}
.left-title ul{width:100%;float:left}
.left-title ul li{float:left}
.left-title ul .user{width:60px;height:60px;float:left;}
.left-title ul .user img{width:60px;height:60px;border:1px solid #0a5dd2;border-radius:50%;}
.left-title ul .word{float:left;margin-left:18px;}
.left-title ul .word p{margin-top:8px;}
.left-title ul .word .vip1{width:71px;height:17px;float:left;background: url(../../images/icon-big.png) no-repeat left -74px;}
.left-title ul .word .vip2{width:71px;height:17px;float:left;background: url(../../images/icon-big.png) no-repeat left -96px;}
.left-title ul .word .vip3{width:75px;height:17px;float:left;background: url(../../images/icon-big.png) no-repeat left -117px;}
.left-title ul .word .vip4{width:99px;height:17px;float:left;background: url(../../images/icon-big.png) no-repeat left -138px;}

.left-list{width:100%;float:left;margin-top:25px;}
.left-list ul{width: 100%;float:left;}
.left-list ul li{width: 100%;padding-left:34px;height:50px;line-height:50px;}
.left-list ul li a{color:#2361ea;font-size:16px;color:#2361ea}
.left-list ul li a i{margin:0 20px 0 0;font-size:18px;padding-top:10px;}
.left-list ul .current{background:#eff1f4;}
.left-list ul li:hover{background:#eff1f4;}
.left-phone{width:100%;float:left;margin-top:48px;padding-left:30px;}
.left-phone p{float:left}
.left-phone p span{float:left}
.left-phone p i{color:#fe6b6b;font-size:40px;font-weight:bold;}
.left-phone .phone-word{width:130px;float:left;margin-left:10px;}
.left-phone .phone-word .red{color:#fe6b6b;font-size:16px}
.left-tplist{width:100%;float:left;margin-top:14px;text-align:center;position:relative;}
.left-tplist i{position:absolute;top:6px;right:20px;cursor:pointer;color:#000}
.left-tplist img{width:200px;height:200px;}
/**译员左侧菜单**/
.interpreter-subanav{background:#e2e7ec;}
.interpreter-subanav ul .current{background:#f6f8fa;}
.interpreter-subanav ul li:hover{background:#f6f8fa;}
.interpreter-subanav ul .list-p{width:100%;height:40px;padding-left:78px;line-height:40px;margin-top:5px;}
.interpreter-subanav ul .list-p a{color:#2361ea;font-size:14px}
.interpreter-subanav ul .list-p a span{color:#fe6b6b}
.interpreter-subanav ul .list-p.current{width:100%;height:40px;background:#eff2f5;}
/**面包屑**/
.breadcrumb{width:100%;float:left;margin-bottom:16px;}
.breadcrumb p{float:left}
.tracking-list{width:100%;float:left}
